/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: rgb(0, 0, 0);
  color: rgb(0, 255, 255);
  font-family: "Open Sans", sans-serif;
}

body .bg-image {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(4px);
  object-fit: cover;
  opacity: 0.1;
  transition: 1s;
}

.body-scrolled .bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.2;
}

a {
  color: rgb(0, 255, 255);
  transition: 0.5s;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: #fff;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 0 0; /* margin: 0 0 30px 0; */
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/*--------------------------------------------------------------
# Get started button
--------------------------------------------------------------*/
.btn-get-started {
  position: fixed;
  visibility: visible;
  opacity: 1;
  bottom: 25px;
  z-index: 996;
  background: rgb(0, 255, 255);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
  text-align: center;
}
.body-scrolled .btn-get-started {
  visibility: hidden;
  opacity: 0;
}
.btn-get-started i {
  font-size: 28px;
  color: rgb(0, 0, 0);
  line-height: 0;
}
.btn-get-started:hover {
  background: #fff;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 25px;
  bottom: 25px;
  z-index: 996;
  background: rgb(0, 255, 255);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: rgb(0, 0, 0);
  line-height: 0;
}
.back-to-top:hover {
  background: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: rgb(0, 0, 0);
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid rgb(0, 20, 24);
  border-top: 6px solid rgb(0, 255, 255);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  height: 80px;
}
#header.header-scrolled {
  background: rgb(0, 0, 0);
  height: 60px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
@media (min-width: 993px) {
  .navbar ul {
    display: none;
  }

  #header.header-scrolled .navbar ul {
    display: flex;
  }
}
.navbar li {
  position: relative;
  transition: 0.3s;
}
.navbar li:hover {
  transform: scale(1.1);
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: rgb(0, 255, 255);
  white-space: nowrap;
  text-transform: uppercase;
  transition: 0.3s;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #fff;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: rgb(0, 255, 255);
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 992px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }

  .navbar li:hover {
    transform: scale(1.1);
    margin-left: 10%;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  padding: 15px 0;
  background-color: rgb(0, 0, 0);
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 30px;
  font-size: 20px;
  color: rgb(0, 255, 255);
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #fff;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar .bi-x {
  z-index: 9998;
}

/*--------------------------------------------------------------
# Home Section
--------------------------------------------------------------*/
#home {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
@media (max-height: 500px) {
  #home {
    height: 150vh;
  }
}
#home {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
#home .home-container a {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position:absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#home img {
  width: 100%;
  border-radius: 50%;
  padding-bottom: 20px;
}
#home h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 5px;
}
#home h3 {
  color: rgb(0, 255, 255);
  font-size: 24px;
  font-weight: 500;
}
@media (max-width: 768px) {
  #home h2 {
    font-size: 28px;
  }
}
#home p {
  width: 90%;
  margin: 30px auto 30px auto;
  color: #fff;
}
@media (max-width: 768px) {
  #home p {
    font-size: 16px;
    text-align: justify;
  }
}
@media (min-width: 1024px) {
  #home p {
    width: 60%;
    font-size: 18px;
  }
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  overflow: hidden;
}

/* Sections Header
--------------------------------*/
.section-header h3 {
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  position: relative;
  padding-bottom: 15px;
}
.section-header h3::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 3px;
  background: rgb(0, 255, 255);
  bottom: 0;
  left: calc(50% - 60px);
}
.section-header h3::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: rgb(0, 255, 255);
  bottom: 0;
  left: calc(50% - 20px);
}
.section-header p {
  text-align: center;
  padding-bottom: 30px;
  color: rgb(0, 255, 255);
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background-color: #f7f7f7;
  min-height: 40px;
  margin-top: 80px;
}
.breadcrumbs h2 {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 400;
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.breadcrumbs ol li + li {
  padding-left: 10px;
}
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: rgb(0, 255, 255);
  content: "/";
}
@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/* Works Section
--------------------------------*/
#works {
  padding: 60px 0;
  text-align: center;
}
#works .section-header {
  padding: 120px 0 20px 0;
}
#works .parent-section {
  padding: 0 0 30px 0;
}
#works .highlight-item {
  padding: 0 15px 0 15px;
}
#works .embed-responsive {
  position: relative;
  padding-top: 56.25%;
}
#works .youtube {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 0;
}
#works .video-description {
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 15px 30px 30px 30px;
  margin-bottom: 15px;
}
#works .works-wrap {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}
#works .works-wrap:hover {
  box-shadow: 0px 4px 14px rgb(0, 255, 255);
}
#works .works-item {
  padding: 15px;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}
#works .works-item:hover {
  transform: scale(1.05);
}
#works .works-item figure {
  background: #000;
  overflow: hidden;
  position: relative;
  margin: 0;
}
#works .audio-item .works-wrap {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
}
#works .audio-item audio {
  margin: 20px;
  width: 80%;
}
#works .audio-item .works-info {
  padding-top: 10px !important;
  background: rgba(0, 0, 0, 0);
}
#works .works-info {
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 30px 30px 10px 30px;
}
#works .works-info h4 {
  font-size: 18px;
  line-height: 1px;
  font-weight: 700;
}
@media (max-width: 768px) {
  #works .audio-item .works-info h4 {
    font-size: 14px;
  }
}
#works .video-description p {
  text-align: justify;
  padding: 0;
  margin: 0;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}
@media (max-width: 768px) {
  #works .video-description p {
    font-size: 12px;
  }
}
@media (min-width: 1024px) {
  #works .video-description p {
    font-size: 20px;
  }
}

/* Techs Section
--------------------------------*/
#techs {
  padding: 60px 0;
  text-align: center;
}
#techs .section-header {
  padding: 120px 0 20px 0;
}
#techs .parent-section {
  padding: 0 0 30px 0;
}
#techs .techs-wrap {
  filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
  transition: 0.3s;
}
#techs .techs-wrap:hover {
  filter: drop-shadow(0 0 6px rgb(0, 255, 255));
}
#techs .techs-item {
  padding: 15px;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}
#techs .techs-item:hover {
  transform: scale(1.25);
}
#techs .techs-item figure {
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  position: relative;
  margin: 0;
}
#techs .techs-description {
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.5);
}

/* awards Section
--------------------------------*/
#awards {
  padding: 60px 0 90px 0;
}
#awards .section-header {
  margin-bottom: 50px;
}
#awards .large {
  display: none;
}
#awards .small {
  display: grid;
}
@media (min-width: 768px) {
  #awards .large {
    display: grid;
  }
  #awards .small {
    display: none;
  }
}
#awards .awards-item {
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 15px;
  margin: 30px 0 30px 0;
  transition: 0.3s;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.08);
}
#awards .awards-item:hover {
  box-shadow: 0px 4px 14px rgb(0, 255, 255);
  transform: scale(1.05);
}
#awards .awards-item h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: rgb(0, 255, 255);
}
#awards .awards-item h4 {
  font-size: 16px;
  color: #fff;
  margin: 0 0 15px 0;
}
#awards .awards-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}
@media (min-width: 992px) {
  #awards .awards-item p {
    width: 80%;
  }
}
@media (max-width: 767px) {
  #awards .awards-item h3 {
    font-size: 16px;
  }
  #awards .awards-item h4 {
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  #awards .awards-item h3 {
    font-size: 18px;
  }
  #awards .awards-item h4 {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  #awards .awards-item h3 {
    font-size: 24px;
  }
  #awards .awards-item h4 {
    font-size: 20px;
  }
}
@media (min-width: 1440px) {
  #awards .awards-item h3 {
    font-size: 30px;
  }
  #awards .awards-item h4 {
    font-size: 22px;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: rgba(0, 0, 0, 0.5);
  padding-bottom: 30px;
  color: rgb(0, 255, 255);
  font-size: 14px;
}
#footer h3 {
  font-size: 48px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  position: relative;
}
#footer .footer-top {
  background: rgb(0, 255, 255);
  padding: 30px 0 10px 0;
  transition: 0.3s;
}
#footer .footer-top:hover {
  background: #fff;
}
@media (max-width: 480px) {
  #footer .footer-top h3 {
    font-size: 32px;
  }
}
@media (min-width: 481px) {
  #footer .footer-top h3 {
    font-size: 40px;
  }
}
@media (min-width: 992px) {
  #footer .footer-top h3 {
    font-size: 48px;
  }
}
#footer .footer-links {
  padding: 40px 0 0px 0;
}
@media (max-width: 992px) {
  #footer .footer-links {
    text-align: center;
  }
}
#footer .footer-links ul {
  list-style: none;
  padding-top: 5px;
  margin: 0;
}
@media (max-width: 992px) {
  #footer .footer-links ul {
    padding: 0;
  }
}
#footer .footer-links li {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: rgb(0, 255, 255);
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
}
#footer .footer-links .credits {
  color: #FFF;
  text-align: center;
  font-size: 20px;
}
@media (max-width: 992px) {
  #footer .footer-links .credits {
    padding: 30px 0 30px 0;
    font-size: 16px;
  }

  #footer .footer-links .credits img {
    max-width: 256px;
  }
}
#footer .footer-links .credits p {
  margin-top: 5px;
  font-style: italic;
  color: #fff;
}
#footer .social-links{
  text-align: right;
  padding-top: 5px;
}
@media (max-width: 992px) {
  #footer .social-links{
    text-align: center;
    padding: 0;
  }
}
#footer .social-links h4 {
  font-size: 16px;
  color: rgb(0, 255, 255);
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  margin-bottom: 10px !important;
}
#footer .social-links a {
  display: inline-block;
  color: rgb(0, 255, 255);
  transition: 0.3s;
  margin-left: 10px;
}
#footer .social-links a i {
  font-size: 20px;
}
#footer .social-links a:hover {
  color: #fff;
}